html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.center-form {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.center-form :first-child {
  width: max-content;
  background: aliceblue; 
  border-radius: 2rem; 
  width: 30vw;
  min-width: 375px;
}
.center-form form {
  padding: 2rem;
  
  overflow: hidden;
}

.center-form button {
  margin-top: 1rem;
  color: black;
}